body{
    background-color: #FF0066;
}


h1,h2,h3{
    font-family: 'Black Ops One', cursive;
    color: purple;
    text-align: center;
   }


.playButton{
    border: 2px solid purple;
    border-radius: 10px;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
}


#startMenu{
    margin: auto auto;
    padding: 130px 425px;
}

.playButton:hover {
    background-color: lime;   
    
}

a{
    text-decoration: none;
}

#footer{
    font-size: 15px;
    font-family: 'Black Ops One', cursive;
    color: purple;
    text-align: center;
    border: 2px solid purple;
    border-radius: 10px;
    padding: auto auto;
    margin: 0 600px;
}

#footer:hover {
    background-color: lime;
}