/*******************************************************************************
SNAKE CSS 
*******************************************************************************/

body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display:block;
}

#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
}

h1,h2,h3{
    font-family: 'Black Ops One', cursive;
    color: purple;
    text-align: center;
   }

.title{
    font-size: 62px;
    margin-bottom: 0px;
}

#restartButton{
    border: 2px solid purple;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: lime;     
}

#scoreboard{
    margin:  5px 0 5px 12px;
}

#Highscore{
    margin:  5px 0 0 0px;
}

#playButton{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

a{
    text-decoration: none;
}

#Play{
 padding-left: 30px;
    padding-right: 30px;
     font-family: 'Black Ops One', cursive;
    color: purple;
    text-align: center;
}

#Play:hover {
    background-color: lime;     
}